 <!-- Page footer-->
      <footer>
         <span>&copy; 语聊 - 语音社交商业管理系统 版权所有</span>
      </footer>
   </div>


   <!-- 加载特效
    <div class="loginer">
        <div class="panel-heading">Ball Clip Rotate Mul</div>
        <div class="panel-body">
           <div class="ball-clip-rotate-multiple">
              <div></div>
              <div></div>
           </div>
         </div>
    </div> -->
   <!-- =============== VENDOR SCRIPTS ===============-->
   <!-- MODERNIZR-->
   <script src="__PUBLIC__/js/modernizr.custom.js"></script>
   <!-- MATCHMEDIA POLYFILL-->
   <script src="__PUBLIC__/js/matchMedia.js"></script>
   <!-- BOOTSTRAP-->
   <script src="__PUBLIC__/js/bootstrap.js"></script>
   <!-- STORAGE API-->
   <script src="__PUBLIC__/js/jquery.storageapi.js"></script>
   <!-- JQUERY EASING-->
   <script src="__PUBLIC__/js/jquery.easing.js"></script>
   <!-- ANIMO-->
   <script src="__PUBLIC__/js/animo.js"></script>
   <!-- SLIMSCROLL-->
   <script src="__PUBLIC__/js/jquery.slimscroll.min.js"></script>
   <!-- SCREENFULL-->
   <script src="__PUBLIC__/js/screenfull.js"></script>
   <!-- LOCALIZE-->
   <script src="__PUBLIC__/js/jquery.localize.js"></script>
   <!-- RTL demo-->
   <script src="__PUBLIC__/js/demo/demo-rtl.js"></script>
   <!-- =============== PAGE VENDOR SCRIPTS ===============-->
   <!-- SPARKLINE-->
   <script src="__PUBLIC__/js/index.js"></script>
   <!-- FLOT CHART-->
   <script src="__PUBLIC__/js/jquery.flot.js"></script>
   <script src="__PUBLIC__/js/jquery.flot.tooltip.min.js"></script>
   <script src="__PUBLIC__/js/jquery.flot.resize.js"></script>
   <script src="__PUBLIC__/js/jquery.flot.pie.js"></script>
   <script src="__PUBLIC__/js/jquery.flot.time.js"></script>
   <script src="__PUBLIC__/js/jquery.flot.categories.js"></script>
   <script src="__PUBLIC__/js/jquery.flot.spline.min.js"></script>
   <!-- CLASSY LOADER-->
   <script src="__PUBLIC__/js/jquery.classyloader.min.js"></script>
   <!-- MOMENT JS-->
   <script src="__PUBLIC__/js/moment-with-locales.min.js"></script>
   <!-- SKYCONS-->
   <script src="__PUBLIC__/js/skycons.js"></script>
   <!-- DEMO-->
   <script src="__PUBLIC__/js/demo/demo-flot.js"></script>
   <!-- JQUERY FORM-->
   <script src="__PUBLIC__/js/jquery.form.js"></script>
   
   <!-- =============== PAGE VENDOR SCRIPTS ===============-->
<!-- CLASSY LOADER-->
<script src="__PUBLIC__/js/jquery.classyloader.min.js"></script>
<!-- JQUERY KNOB-->
<script src="__PUBLIC__/js/jquery.knob.js"></script>
<!-- EASY PIE CHART-->
<script src="__PUBLIC__/js/jquery.easypiechart.js"></script>
 <!-- =============== PAGE VENDOR SCRIPTS ===============-->
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included-->
<script src="__PUBLIC__/js/widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings-->
<script src="__PUBLIC__/js/tmpl.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality-->
<script src="__PUBLIC__/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality-->
<script src="__PUBLIC__/js/canvas-to-blob.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads-->
<script src="__PUBLIC__/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin-->
<script src="__PUBLIC__/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin-->
<script src="__PUBLIC__/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin-->
<script src="__PUBLIC__/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin-->
<script src="__PUBLIC__/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin-->
<script src="__PUBLIC__/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin-->
<script src="__PUBLIC__/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin-->
<script src="__PUBLIC__/js/jquery.fileupload-ui.js"></script>
<!-- Demo-->
<script src="__PUBLIC__/js/demo/demo-upload.js"></script>
<!-- JQGRID-->
<script src="__PUBLIC__/js/jquery.jqGrid.js"></script>
<script src="__PUBLIC__/js/grid.locale-en.js"></script>
<script src="__PUBLIC__/js/demo-jqgrid.js"></script>
<!-- =============== APP SCRIPTS ===============-->
<script src="__PUBLIC__/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/js/dataTables.fnReloadAjax.js"></script>
<script src="__PUBLIC__/js/dataTables.colVis.js"></script>
<script src="__PUBLIC__/js/dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/js/demo-datatable.js"></script>

<!-- =============== PAGE VENDOR SCRIPTS ===============-->
<!-- FILESTYLE-->
<script src="__PUBLIC__/js/bootstrap-filestyle.js"></script>
<!-- TAGS INPUT-->
<script src="__PUBLIC__/js/bootstrap-tagsinput.min.js"></script>
<!-- CHOSEN-->
<script src="__PUBLIC__/js/chosen.jquery.min.js"></script>
<!-- SLIDER CTRL-->
<script src="__PUBLIC__/js/bootstrap-slider.min.js"></script>
<!-- INPUT MASK-->
<script src="__PUBLIC__/js/jquery.inputmask.bundle.js"></script>
<!-- WYSIWYG-->
<script src="__PUBLIC__/js/bootstrap-wysiwyg.js"></script>
<script src="__PUBLIC__/js/jquery.hotkeys.js"></script>
<!-- MOMENT JS-->
<script src="__PUBLIC__/js/moment-with-locales.min.js"></script>
<!-- DATETIMEPICKER-->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>
<!-- COLORPICKER-->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-colorpicker.js"></script>
<!-- Demo-->
<script src="__PUBLIC__/js/demo-forms.js"></script>
<!-- SELECT2-->
<script src="__PUBLIC__/js/select2.js"></script>
<!-- =============== APP SCRIPTS ===============-->
<script src="__PUBLIC__/js/app.js"></script>
<!-- =============== Sweetalert ===============-->
<script src="__PUBLIC__/js/sweetalert.min.js"></script>
<!--time -->
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-timepicker-zh-CN.js"></script>

<script type="text/javascript">
$( "input[name='act_start_time'],input[name='act_stop_time']" ).datetimepicker({changeMonth: true,changeYear: true});
$("#lifetime").datetimepicker({
	changeMonth: true,
    changeYear: true
});
</script>
</body>
</html>
